<%-include ('../partials/head',{cssFile:'/css/categoria.css'})%>

    <body>
        <%-include ('../partials/headerYNav') %>
            <main class="main-categoria">
                <%let categoria="";
                switch(productos[0].category){
                    case 1:
                        categoria="Smartphones";
                        break;
                    case 2:
                        categoria="Tablets";
                        break;
                    case 3:
                        categoria="Notebooks"
                        break;
                }%>
                <h1 class='titulo-categoria'><%=categoria %></h1>
                <div class="container">
                    
                    <% productos.forEach(producto=>{%>
                        <%- include ('../partials/cardArticulos',{producto:producto,funcion:funcion}) %>
                    <%});%>
                </div>
            </main>
            <%- include ('../partials/footer') %>
    </body>
    <%- include ('../partials/script-menu') %>

</html>