<%-include ('../partials/head',{cssFile:'/css/editProducto.css'})%>

  <body>
    <%-include ('../partials/headerYNav') %>

      <main class="main">
        <div class="container__form">
          <div class="title-container">
            <h2 class="title">Editar producto</h2>
          </div>
          <form class="edit__form" action="/products/editar/<%=producto.id%>?_method=put" method="POST">
            <div class="edit__name-form block-input">
              <label for="name">Nombre del producto: </label>
              <input class="login__input-form" type="text" name="name" placeholder="Edita el nombre del producto"
                value="<%=producto.name%>" required />
            </div>

            <div class="edit__descripcion-form block-input">
              <label for="description">Descripción:</label>
              <textarea class="edit_textarea" name="description"
                placeholder="Edita la descripción del producto"><%=producto.description%></textarea>
            </div>

            <div class="edit__discount-form block-input">
              <label for="discount">Descuento:</label>
              <input name="discount"
                placeholder="Edita descuento del producto" value="<%=producto.discount%>"></input>
            </div>

            <div class="edit__categ-form block-input">
              <label for="category">Categoria:</label>
              <select name="category" id="category">
                <option value="<%=producto.category%>" selected>
                  <%=producto.category%>
                </option>
                <option value="Smartphone">Smartphone</option>
                <option value="Ipad">Ipad</option>
                <option value="Tablet">Tablet</option>
              </select>
            </div>

            <div class="edit__precio-form block-input">
              <label for="price">Precio:</label>
              <input type="number" id="price" name="price" placeholder="Precio del producto"
                value="<%=producto.price%>">
            </div>

            <div class="alta__categ-form block-input">
              <label for="tamanio">Tamaño:</label>
              <input type="text" id="tamanio" name="Tamanio" value="<%=producto.specifications.Tamaño%>"><br><br>

              <label for="memoria">Memoria:</label>
              <input type="text" id="memoria" name="Memoria" value="<%=producto.specifications.Memoria%>"><br><br>

              <label for="camara">Cámara Principal:</label>
              <input type="text" id="camara" name="CamaraPrincipal" value="<%=producto.specifications.CamaraPrincipal%>"><br><br>

              <label for="ram">RAM:</label>
              <input type="text" id="ram" name="Ram" value="<%=producto.specifications.Ram%>"><br><br>
          </div>

            <div class="alta__imagen-form block-input">
              <label for="image0">Imagen:</label>
              <input type="file" name="image0" id="file" class="custom-file-input" accept=".png" multiple id="imagen"
                value="<%=producto.image0%>">
              <img id="previewImage" src="<%=producto.image0%>" alt="Vista previa de la imagen"
                style="max-width: 40px; max-height: 40px;">
            </div>

            <div class="alta__imagen-form block-input">
              <label for="imagen1">Imagen 1:</label>
              <input type="file" name="imagen1" id="file" class="custom-file-input" accept=".png" multiple id="imagen1"
                value="<%=producto.image1%>">
              <img id="previewImage" src="<%=producto.image1%>" alt="Vista previa de la imagen"
                style="max-width: 40px; max-height: 40px;">
            </div>

            <div class="alta__imagen-form block-input">
              <label for="imagen2">Imagen 2:</label>
              <input type="file" name="imagen2" id="file" class="custom-file-input" accept=".png" multiple id="imagen2"
                value="<%=producto.image2%>">
              <img id="previewImage" src="<%=producto.image2%>" alt="Vista previa de la imagen"
                style="max-width: 40px; max-height: 40px;">
            </div>

            <div class="alta__imagen-form block-input">
              <label for="imagen3">Imagen 3:</label>
              <input type="file" name="imagen3" id="file" class="custom-file-input" accept=".png" multiple id="imagen3"
                value="<%=producto.image3%>">
              <img id="previewImage" src="<%=producto.image3%>" alt="Vista previa de la imagen"
                style="max-width: 40px; max-height: 40px;">
            </div>

            <div class="edit__buttons">
              <button class="option__button" type="submit">Actualizar Producto</button>
              <button class="option__button" type="reset">Descartar formulario</button>
              </button>
            </div>
          </form>
        </div>
      </main>
      <%- include ('../partials/footer') %>
  </body>
  <%- include ('../partials/script-menu') %>
    <script>
      //script para mostrar la nueva imagen si se modifica
      document.getElementById('file').addEventListener('change', function () {
        const preview = document.getElementById('previewImage');
        const file = this.files[0];
        const reader = new FileReader();

        reader.onload = function () {
          preview.src = reader.result;
          preview.style.display = 'block';
        }

        if (file) {
          reader.readAsDataURL(file);
        }
      });
    </script>

    </html>