<%-include ('../partials/head',{cssFile:'/css/styleDetalle.css'})%>

    <body>
        <%-include ('../partials/headerYNav') %>
            <main>
                <section class="imagenes-and-detalle">
                    <div class="imagenes-acciones">
                        <div class="imagenes-producto">
                            <div class="imagen-principal">
                                <img src="<%=producto.image%>" alt="<%=producto.name%>">
                            </div>
                            <div class="imagenes-secundarias">
                                <div class="div-img"><img src="<%=producto.image1%>" alt=""></div>
                                <div class="div-img"><img src="<%=producto.image2%>" alt=""></div>
                                <div class="div-img"><img src="<%=producto.image3%>" alt=""></div>
                            </div>
                        </div>

                    </div>

                    <div class="detalle-producto">
                        <div class="titulo-producto">
                            <p><%=producto.name%></p>
                        </div>
                        <div class="descripcion-producto">
                            <p><%=producto.description%>
                            </p>
                        </div>
                        <div class="caracteristicas-producto">
                            <ul>
                                <% for (const key in producto.specifications) { %>
                                    <li><strong><%= key %>:</strong> <%= producto.specifications[key] %></li>
                                  <% } %>
                            </ul>
                        </div>
                        <div class="color-precio">
                            <div class="colores">
                                <div class="gama-colores">
                                    <div class="color grey">.</div>
                                    <div class="color green">.</div>
                                    <div class="color pink">.</div>
                                    <div class="color gold">.</div>
                                </div>
                            </div>
                            <div class="precio-comprar">
                                <div class="precio">
                                    <p>$1.322.142</p>
                                </div>
                                <div class="div-btn-comprar">
                                    <a href="/productos/addCarrito"><button class="btn-comprar">Comprar</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="most-searched__section">
                    <article class="most-searched__article">
                        <h4 class="most-searched__title">Productos Relacionados</h4>
                        <div class="div-responsive">
                            <div class="most-searched__card-container">
                                <%- include ('../partials/cardArticulosMasBuscados',{productos:productos}) %>
                            </div>
                        </div>
                    </article>
                </section>

                </section>

            </main>
            <%- include ('../partials/footer') %>
    </body>
    <%- include ('../partials/script-menu') %>

    </html>