<%-include ('partials/head',{cssFile:'/css/styleGeneral.css'})%>

  <body>
    <%-include ('partials/headerYNav') %>
      <main>
        <div class="brand__container">
          <section class="brand__section">
            <article class="brand__article">
              <h4 class="brand__title">Apple</h4>
              <ul class="brand__list">
                <li class="brand__item">iPhone 13</li>
                <li class="brand__item">iPhone 14</li>
                <li class="brand__item">iPhone 15</li>
              </ul>
            </article>

            <article class="brand__article">
              <h4 class="brand__title">Xiaomi</h4>
              <ul class="brand__list">
                <li class="brand__item">Redmi 10C</li>
                <li class="brand__item">Redmi Note 11</li>
                <li class="brand__item">Redmi Note 12</li>
              </ul>
            </article>

            <article class="brand__article">
              <h4 class="brand__title">Samsung</h4>
              <ul class="brand__list">
                <li class="brand__item">Galaxy S23</li>
                <li class="brand__item">Galaxy A54</li>
                <li class="brand__item">Galaxy Z Flip5</li>
              </ul>
            </article>
          </section>
        </div>

        <section class="offer__section">
          <article class="offer__article">
            <div class="offer__container">
              <h4 class="most-searched__title">💥🎊20% Off de la semana🎊💥</h4>
              <div class="offer">
                <%productos.forEach(producto=>{ if(producto.discount == 20){%>
                <a href="/productos/detalle/<%=producto.id %>">
                  <div class="offer__image">
                    <img class="offer__image-img" src="<%=producto.image%>" alt="" />
                    <% if(producto.discount != 0){ %>
                      <div class="discount-circle">
                        <p class="discount-value"><%= producto.discount %>%</p>
                      </div>
                    <% } %>
                    <% let precioFinal=producto.price-(producto.price*(producto.discount/100))%>
                    <p class="p-price-offer">$<%=funcion.getPrecioFormateado(precioFinal)%></p>
                    <p class="p-white"><%=producto.name%></p>
                  </div>
                </a>
                <%}});%>
              </div>
            </div>
          </article>
        </section>

        <section class="most-searched__section">
          <article class="most-searched__article">
            <h4 class="most-searched__title">Lo mas buscado</h4>
            <div class="div-responsive">
              <div class="most-searched__card-container">
                <%- include ('partials/cardArticulosMasBuscados',{productos:productos,funcion:funcion}) %>
              </div>
            </div>
          </article>
        </section>
      </main>
      <%- include ('partials/footer') %>
  </body>
  <%- include ('partials/script-menu') %>
  </html>