<header>
    <div class="main-header">
        <div class="logo-container">
            <a href="/"><img class="img-logo" src="/img/logo-dbytee.png" alt="logoDigitalByte"></a>
        </div>

        <div class="bar-search">
            <form action="/productos/search" method="GET" id="search-form" class="search-form">
                <div class="search-container">
                    <input type="text" name="busqueda" class="search-input" id="search-input" placeholder="Buscar productos...">
                    <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
        </div>
        
        <div class="user-info-responsive">
            <% if (usuarioLog) { %>
                <a href="/usuarios/userProfile">
                    <img class="img-user" src="<%= usuarioLog.avatar?usuarioLog.avatar:'/img/default-image.png' %>"
                        alt="Foto de perfil">
                    <span>
                        <%= usuarioLog.nombre %>/<%=usuarioLog.rol %>
                    </span>
                </a>
            <% } %>
            <a href="/usuarios/cerrarSesion"><i
                class="fa-solid fa-right-from-bracket ml-2"></i></a>
        </div>
        <div class="user-option">
            <% if(usuarioLog && usuarioLog.rol==='Administrador' ){ %>
                <div class="user-option_div">
                    <button class="user-btn btn-listProd left-rounder" type="button"><a
                            href="http://localhost:5173">Dashboard</a></button>
                    <button class="user-btn btn-listProd " type="button"><a
                            href="/productos/lista">Productos</a></button>
                    <button class="user-btn btn-usuarios rigth-rounder" type="button"><a
                            href="/usuarios/lista">Usuarios</a></button>
                </div>

                <%}else if(usuarioLog && usuarioLog.rol==='Vendedor' ){%>
                    <div class="user-option_div">
                        <button class="user-btn btn-carrito rounder" type="button"><a
                                href="/productos/listaMisProductos">Mis Productos</a></button>
                    </div>
                    <%}else if(usuarioLog && usuarioLog.rol==='Cliente' ){%>
                        <div class="user-option_div">
                            <button class="user-btn btn-carrito rounder" type="button">
                                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i>Carrito</a>
                            </button>
                            <span class="cart-number" id="cart-number">0</span>
                        </div>

                    <% }else{ %>
                        <div class="user-option_div">
                            <button class="user-btn btn-registro left-rounder" type="button"><a
                                    href="/usuarios/registro">Registro</a></button>
                            <button class="user-btn btn-login rigth-rounder" type="button"><a
                                    href="/usuarios/login">Login</a></button>
                        </div>
                    <% }%>
                        <div class="user-info">
                            <% if (usuarioLog) { %>
                                    <a href="/usuarios/userProfile" class="div_perfil">
                                        <img class="img-user"
                                            src="<%= usuarioLog.avatar ? usuarioLog.avatar  :'/img/default-image.png' %>"
                                            alt="Foto de perfil">
                                        <span>
                                            <%= usuarioLog.nombre %>/<%=usuarioLog.rol %>
                                        </span>
                                    </a>
                                
                                <a href="/usuarios/cerrarSesion"><i
                                    class="fa-solid fa-right-from-bracket ml-2"></i></a>
                            <% } %>
                        </div>
        </div>

</header>


<nav class="main-nav">
    <div class="menu">
        <a class="a-hamburguer" href="/">
            <button class="hamburger-button">
                <i class="fas fa-bars"></i>
            </button>
        </a>
    </div>
    <ul id="lista-categorias" class="lista-secciones">
        <li><a href="/">Home</a></li>
        <li><a href="/productos">Todos</a></li>
        <li><a href="/productos/ofertas">Ofertas</a></li>
        <li>
            <select id="categorias-dropdown" class="select-style">
                <option value="" selected>Categorías</option>
            </select>
        </li>
        <li><a href="/quienes-somos">¿Quienes Somos?</a></li>
    </ul>
</nav>
<script src="/js/categorias/listaCategorias.js"></script>
<script src="/js/carrito/script.js"></script>