<%- include ('../partials/head',{cssFile:'/css/stylesUsuarioEdit.css'})%>

  <body>
    <%-include ('../partials/headerYNav') %>

      <main>
        <div class="container">
          <div class="title-container">
            <h2 class="title">Editar Usuario</h2>
          </div>
          <form class="edit-user__form" action="/usuarios/edit/<%= oldData.id %>?_method=put" method="POST"
            enctype="multipart/form-data">
            <div class="div__imagen">
              <div class="edit-user__image-form block-input">
                <label for="avatar-upload" class="custom-file-upload">
                  <b>Imagen de perfil:</b>
                </label>
                <% if (locals.oldData && oldData.avatar) { %>
                  <div class="avatar-container">
                    <img id="avatar-img" class="avatar" src="<%= oldData.avatar %>" alt="Imagen actual">
                    <input type="hidden" name="oldImage" value="<%= oldData.avatar %>">
                    <div id="camera-icon" class="camera-icon"><i class="fas fa-camera"></i></div>
                  </div>
                  <% } %>
                    <input id="avatar-upload" class="file-upload" type="file" name="avatar" accept=".jpg, .png">
                    <% if (typeof fileValidationError !== 'undefined') { %>
                      <div class="text-danger">
                        <%= fileValidationError %>
                      </div>
                  <% } %>
                  
              </div>
            </div>
            <div class="div__datos">
              <div class="edit-user__firstname-form block-input">
                <input type="hidden" name="id" value="<%=oldData.id %>">
                <input type="text" name="firstName"
                  class="edit-user__input-form <%= locals.errors && errors.firstName? 'is-invalid' : null %> nombre"
                  placeholder="Nombre" value="<%= locals.oldData ? oldData.nombre : usuario.nombre %>">
                <small class="nombre-msg text-danger"></small>

                <% if(locals.errors && errors.firstName) {%>
                  <div class="text-danger">
                    <%= errors.firstName.msg %>
                  </div>
                  <% } %>
              </div>

              <div class="edit-user__lastname-form block-input">
                <input type="text" name="lastName"
                  class="edit-user__input-form <%= locals.errors && errors.lastName? 'is-invalid' : null %> apellido"
                  placeholder="Apellido" value="<%= locals.oldData ? oldData.apellido : usuario.apellido %>">
                <small class="apellido-msg text-danger"></small>

                <% if(locals.errors && errors.lastName) {%>
                  <div class="text-danger">
                    <%= errors.lastName.msg %>
                  </div>
                  <% } %>
              </div>

              <div class="edit-user__email-form block-input">
                <input type="email" name="email"
                  class="edit-user__input-form <%= locals.errors && errors.email ? 'is-invalid' : null %> email"
                  placeholder="Email" value="<%= locals.oldData ? oldData.email : usuario.email %>">
                <small class="email-msg text-danger"></small>

                <% if(locals.errors && errors.email) {%>
                  <div class="text-danger">
                    <%= errors.email.msg %>
                  </div>
                  <% } %>
              </div>

              <div class="edit-user__direccion-form block-input">
                <input type="direccion" name="direccion"
                  class="edit-user__input-form <%= locals.errors && errors.direccion ? 'is-invalid' : null %> direccion"
                  placeholder="Direccion" value="<%= locals.oldData ? oldData.direccion : usuario.direccion %>">
                <small class="direccion-msg text-danger"></small>

                <% if(locals.errors && errors.direccion) {%>
                  <div class="text-danger">
                    <%= errors.direccion.msg %>
                  </div>
                  <% } %>
              </div>

              <div class="edit-user__telefono-form block-input">
                <input type="telefono" name="telefono"
                  class="edit-user__input-form <%= locals.errors && errors.telefono ? 'is-invalid' : null %> telefono"
                  placeholder="Telefono" value="<%= locals.oldData ? oldData.telefono : usuario.telefono %>">
                <small class="telefono-msg text-danger"></small>

                <% if(locals.errors && errors.telefono) {%>
                  <div class="text-danger">
                    <%= errors.telefono.msg %>
                  </div>
                  <% } %>
              </div>

              <div class="edit-user__category-form block-input ">
                <label for="rol"><b>Rol de usuario:</b></label>
                <select name="rol" id="rol"
                  class="edit-user__input-form <%= locals.errors && errors.rol ? 'is-invalid' : '' %> rol">
                  <option value="">Elige un rol de usuario</option>
                  <% let categories=["Vendedor", "Cliente"] %>

                    <% for (const oneCategory of categories) { %>
                      <option value="<%= oneCategory %>" <%=locals.oldData && (oneCategory===oldData.rol) ? 'selected' :
                        null %>
                        > <%= oneCategory %>
                      </option>
                      <% } %>
                      <%if (usuarioLogeado.rol==='Administrador'){%>
                        <option value="Administrador" <%=locals.oldData && ('Administrador'===oldData.rol) ? 'selected' :
                          null %>>Administrador</option>
                      <%}%>
                </select>
                <small class="rol-msg text-danger"></small>

                <% if(locals.errors && errors.rol) {%>
                  <div class="text-danger">
                    <%= errors.rol.msg %>
                  </div>
                  <% } %>
              </div>

              <div class="edit-user__category-form block-input">
                <label for="country"><b>País de nacimiento</b></label>
                <select name="country"
                  class="edit-user__input-form <%= locals.errors && errors.country ? 'is-invalid' : null %> nacionalidad">
                  <option value="">Elige un país</option>
                  <% let countries=[ "Argentina" , "Bolivia" , "Chile" , "Uruguay" , "Paraguay" , "Colombia" , "Ecuador"
                    , "Perú" ]; %>
                    <% for (const oneCountry of countries) { %>
                      <option value="<%= oneCountry %>" <%=locals.oldData && (oneCountry===oldData.nacionalidad)
                        ? 'selected' : null %>
                        > <%= oneCountry %>
                      </option>
                      <% } %>
                </select>
                <small class="nacionalidad-msg text-danger"></small>

                <% if(locals.errors && errors.country) { %>
                  <div class="text-danger">
                    <%= errors.country.msg %>
                  </div>
                  <% } %>
              </div>
              <div class="edit-user__category-form block-input">
                <label for="estado"><b>Estado</b></label>
                <select name="estado"
                  class="edit-user__input-form nacionalidad">
                  <% let estado=[{key:'A',value:'Activo'},{key:'I',value:'Inactivo'}] %>
                    <% for (const oneEstado of estado) { %>
                      <option value="<%= oneEstado.key %>" <%=locals.oldData && (oneEstado.key===oldData.estado)
                        ? 'selected' : null %>
                        > <%= oneEstado.value %>
                      </option>
                      <% } %>
                </select>
              </div>
              <div class="edit-user__buttons">
                <button class="edit-user__button btn ">Guardar cambios</button>
                <div>
                  <a href="/usuarios/perfil/<%= oldData.id %>" class="edit-user__link">Volver al perfil</a>
                </div>
              </div>

            </div>
          </form>
        </div>
      </main>
  </body>
  <%- include ('../partials/footer') %>
      <script src="/js/usuarios/edit.js"></script>
      <script src="/js/usuarios/script-change-img.js"></script>
      

      </html>