<%-include ('../partials/head',{cssFile:'/css/stylesListaUsuarios.css'})%>
<body>

    <div class="container">
        <h1>Listado de Usuarios</h1>
        <% usuarios.forEach(usuario=> { %>

        <ul class="user-list">
            <li>
                <a href="/usuarios/<%=usuario.id %>">
                    <%= usuario.firstName %>
                <img src= '/public/img/ <%=usuario.image %>' alt="image usuario">
                <div class="user-info">
                    <h2></h2>
                    <p class="name-user"><%= usuario.firstName %></p>
                </div>
                </a>
            </li>
        </ul>

        <td>
            <a href="/usuarios/editar/<%=usuario.id%>"><i
                class="fa-solid fa-pen-to-square fa-lg"></i></a>
        </td>
        <% }) %>
    </div>

</body>
</html>