<%-include ('../partials/head',{cssFile:'/css/stylesListaUsuarios.css'})%>
<body>
    <%-include ('../partials/headerYNav') %>
    <div class="container">
        <h1>Listado de Usuarios</h1>
        <% usuarios.forEach(usuario=> { %>

        <ul class="user-list">
            <li>
                <a href="/usuarios/<%=usuario.id %>">
                    <%= usuario.firstName %>
                <!-- la imagen se guarda con la ruta absoluta sin public, ejemplo: /img/nombre-image.png -->
                <img src="<%=usuario.image%>" alt="image usuario"> 
                <div class="user-info">
                    <h2></h2>
                    <p class="name-user"><%= usuario.firstName %></p>
                </div>
                </a>
            </li>
        </ul>

        <td>
            <a href="/usuarios/editar/<%=usuario.id%>"><i
                class="fa-solid fa-pen-to-square fa-lg"></i></a>
        </td>
        <% }) %>
    </div>

</body>
</html>