<%-include ('../partials/head',{cssFile:'/css/stylesUsuarioRegistro.css'})%>

  <body>
    <header class="header">
      <div class="logo-container">
        <a href="/"><img class="img-logo" src="/img/logo-dbytee.png" alt="logoDigitalByte"></a>
      </div>
    </header>
    <div class="body">

      <div class="container">
        <div class="title-container">
          <h2 class="title">Registrate</h2>
        </div>
        <form class="register__form" action="/usuarios/registro" method="POST" enctype="multipart/form-data">


          <div class="register__nombre-form block-input">
            <input type="text" name="nombre"
              class="register__input-form nombre <%= locals.errors && errors.nombre ? 'is-invalid' : null %>" 
              placeholder="Nombre" 
              value="<%= locals.oldData ? oldData.nombre : null %>">

            <% if(locals.errors && errors.nombre) {%>
              <div class="text-danger">
                <%= errors.nombre.msg %>
              </div>
              <% } %>
          </div>


          <div class="register__apellido-form block-input">
            <input type="text" name="apellido" 
              class=" apellido <%= locals.errors && errors.apellido ? 'is-invalid' : null %>" 
              placeholder="Apellido" 
              value="<%= locals.oldData ? oldData.apellido : null %>">

            <% if(locals.errors && errors.apellido) {%>
              <div class="text-danger">
                <%= errors.apellido.msg %>
              </div>
              <% } %>
          </div>


          <div class="register__email-form block-input">
            <input type="email" name="email"
              class="register__input-form email <%= locals.errors && errors.email ? 'is-invalid' : null %>"
              placeholder="Email" 
              value="<%= locals.oldData ? oldData.email : null %>">

            <% if(locals.errors && errors.email) {%>
              <div class="text-danger">
                <%= errors.email.msg %>
              </div>
              <% } %>
          </div>


          <div class="register__password-form block-input">
            <input type="password" name="password" 
            class="register__input-form <%= locals.errors && errors.password ? 'is-invalid' : null %>"
              placeholder="Contraseña" value="<%= locals.oldData ? oldData.password : null %>">

            <% if(locals.errors && errors.password) {%>
              <div class="text-danger">
                <%= errors.password.msg %>
              </div>
              <% } %>
          </div>


          <div class="register__password-form block-input">
            <input type="password" name="confirmPassword" 
            class="<%= locals.errors && errors.confirmPassword ? 'is-invalid' : null %>"
               placeholder="Repetir contraseña" value="<%= locals.oldData ? oldData.confirmPassword : null %>">

            <% if(locals.errors && errors.confirmPassword) {%>
              <div class="text-danger">
                <%= errors.confirmPassword.msg %>
              </div>
              <% } %>
          </div>


          <div class="register__category-form block-input">
            <label for="rol"><b>Elige una categoría</b></label>
            <select 
            name="rol"
            class="<%= locals.errors && errors.rol ? 'is-invalid' : null %>" >
              <option value="">Categorías</option>
              <% let rols=[ "Vendedor" , "Cliente" ]; %>
                
                <% for (const rol of rols) { %>
                  <option value="<%= rol %>"
                    <%= locals.oldData && (rol === oldData.rol) ? 'selected' : null  %>
                    > <%= rol %></option>
                  <% } %>
            </select>

            <% if(locals.errors && errors.rol) { %>
              <div class="text-danger">
                <%= errors.rol.msg %>
              </div>
              <% } %>
          </div>


          <div class="register__category-form block-input">
            <label for="nacinoalidad"><b>País de nacimiento</b></label>
            <select 
            name="nacionalidad"
            class="<%= locals.errors && errors.nacionalidad ? 'is-invalid' : null %>" >
              <option value="">Elige un país</option>
              <% let countries=[ "Argentina" , "Bolivia" , "Chile" , "Uruguay" , "Paraguay" , "Colombia" , "Ecuador"
                , "Perú" ]; %>
                
                <% for (const oneCountry of countries) { %>
                  <option value="<%= oneCountry %>"
                    <%= locals.oldData && (oneCountry === oldData.nacionalidad) ? 'selected' : null  %>
                    > <%= oneCountry %></option>
                  <% } %>
            </select>

            <% if(locals.errors && errors.nacionalidad) { %>
              <div class="text-danger">
                <%= errors.nacionalidad.msg %>
              </div>
              <% } %>
          </div>

          
          <div class="register__image-form block-input">
            <label class="form-label"><b>Imagen de perfil:</b></label>
            <input type="file" name="avatar" accept=".jpg, .png">
            <% if(locals.errors && errors.avatar) {%>
              <div class="text-danger">
                <%= errors.avatar.msg %>
              </div>
              <% } %>
          </div>


          <div class="register__buttons">
            <button class="register__button btn ">Registrarme</button>
            <button class="register__google-button btn">
              <i class="fa-brands fa-google register__google-icon"></i> Inicia sesión con google
            </button>
          </div>
          <div class="footer-register">
            <span>¿Ya tienes cuenta? </span>
            <a href="/usuarios/login" class="login__link">Iniciar sesión</a>
          </div>
        </form>


      </div>
    </div>
  </body>

  </html>