<%- include('../partials/head', { cssFile: '/css/stylesProductoCarrito.css' }) %>

    <body>
        <%- include('../partials/headerYNav') %>

            <main>
                <div class="container">
                    <section class="section">
                        <section class="carrito">
                            
                                <table class="table">
                                  <thead>
                                    <tr class="main-productos">
                                      <th class="main-productos_th">Producto</th>
                                      <th class="main-productos_th">Cantidad</th>
                                      <th class="main-productos_th">Nombre</th>
                                      <th class="main-productos_th">Precio</th>
                                      <th class="main-productos_th">Sub total</th>
                                      <th class="main-productos_th">Quitar</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% if (productosCarrito.length > 0) { %>
                                      <% productosCarrito.forEach(producto => { %>
                                        <tr class="detalle-producto" data-id="<%= producto.id %>">
                                          <td><a href="/productos/<%=producto.ID_Producto%>"><img class="det-prod__img" src="<%= producto.producto.ImagenesProductos[0].ruta %>" ></a></td>
                                          <td>
                                            <input class="input-cantidad" type="number" min="1" value="<%= producto.Cantidad %>" data-id="<%= producto.id %>">
                                          </td>
                                          <td><%= producto.producto.Nombre %></td>
                                          <td>$<%= funcion.getPrecioFormateado(producto.producto.PrecioConDescuento) %></td>
                                          <td>$<%= funcion.getPrecioFormateado(producto.producto.SubtotalConDescuento )%></td>
                                          <td><button class="btn btn-trash"><i class="fa-solid fa-trash"></i></button></td>
                                        </tr>
                                      <% }); %>
                                    <% } else { %>
                                      <tr>
                                        <td colspan="6">
                                          <p style="padding: 20px;">No agregó productos al Carrito.</p>
                                        </td>
                                      </tr>
                                    <% } %>
                                  </tbody>
                                </table>
                              
                            <div class="saldo-total">
                                <span class="text-total">Total a pagar:</span>
                                <h3 class="total">$<%= carrito && !carrito.isEmpty ? funcion.getPrecioFormateado(carrito.Total) : '$0.00'%></h3>
                            </div>

                            <div class="botones-carrito">
                                <button class="btn">Realizar compra</button>
                            </div>
                              
                        </section>
                    </section>

                    <section class="most-searched__section">
                        <article class="most-searched__article">
                            <h4 class="most-searched__title">Productos Relacionados</h4>
                            <div class="div-responsive">
                                <div class="most-searched__card-container">
                                    <%- include('../partials/cardArticulosMasBuscados', { productos: masBuscados,
                                        funcion: funcion }) %>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </main>

            <%- include('../partials/footer') %>
    </body>
    <script src="/js/carrito/scriptEliminar.js"></script>
    <%- include('../partials/script-menu') %>

        </html>