<%-include ('../partials/head',{cssFile:'/css/stylesProductoCategoria.css'})%>

    <body>
        <%-include ('../partials/headerYNav' ) %>
            <main class="main-categoria">
                <%let categoria="" ; switch(productos[0].ID_Categoria){ case 1: categoria="Notebooks" ; break; case 2:
                    categoria="Smartphones" ; break; case 3: categoria="Tablets" ; break; }%>

                    <div class="container">
                        <h1 class='titulo-categoria'>
                            <%=categoria %>
                        </h1>
                        <% productos.forEach(producto=>{%>
                            <%- include ('../partials/cardArticulos',{producto:producto,funcion:funcion}) %>
                                <%});%>
                        <!-- Paginación -->
                        <div class="paginacion">
                            <% if (currentPage > 1) { %>
                                <a href="?cat=<%=cat%>&page=1">Primera</a>
                                <a href="?cat=<%=cat%>&page=<%= parseInt(currentPage) - 1 %>">Anterior</a>
                            <% } %>
                            <% if (currentPage < totalPages) { %>
                                <a href="?cat=<%=cat%>&page=<%= parseInt(currentPage) + 1 %>">Siguiente</a>
                                <a href="?cat=<%=cat%>&page=<%= totalPages %>">Última</a>
                            <% } %>
                        </div>
                    </div>
            </main>
            <%- include ('../partials/footer') %>
    </body>
    <%- include ('../partials/script-menu') %>

        </html>