<%-include ('../partials/head',{cssFile:'/css/stylesProductCreate.css'})%>

    <body>
        <%-include ('../partials/headerYNav' ) %>

            <main class="main">
                <div class="container__form">
                    <div class="title-container">
                        <h2 class="title">Crear producto</h2>
                    </div>
                    <form class="alta__form" action="/productos/create" method="post" enctype="multipart/form-data">
                        <div class="alta__name-form block-input">
                            <label for="name">Producto: </label>
                            <input class="name__input-form nombre" type="text" name="name" id="name"
                                placeholder="Nombre del producto" required />
                            <small class="nombre-empty-msg">Campo obligatorio</small>
                            <small class="nombre-msg">Debe contener al menos 5 caracteres</small>
                        </div>

                        <div class="alta__descripcion-form block-input">
                            <label for="description">Descripción:</label>
                            <input class="descripcion__input-form descripcion" type="text" name="description"
                                placeholder="Descripcion del producto" required />
                            <small class="descripcion-empty-msg">Campo obligatorio</small>
                            <small class="descripcion-msg">Debe contener al menos 20 caracteres</small>
                        </div>

                        <!-- agregar checkbox para mas buscados -->

                        <div class="alta__imagen-form block-input">
                            <label for="image0">Imagen:</label>
                            <input type="file" name="image0" id="file" class="custom-file-input imagen0" accept=".png" multiple
                                id="imagen">
                            <img id="previewImage0" class="image none" src="" alt="Vista previa de la imagen"
                                style="max-width: 40px; max-height: 40px;">
                        </div>

                        <div class="alta__imagen-form block-input">
                            <label for="image1">Imagen 1:</label>
                            <input type="file" name="image1" id="file" class="custom-file-input imagen1" accept=".png" multiple
                                id="image1">
                            <img id="previewImage1" class="image none" src="" alt="Vista previa de la imagen"
                                style="max-width: 40px; max-height: 40px;">
                        </div>

                        <div class="alta__imagen-form block-input">
                            <label for="image2">Imagen 2:</label>
                            <input type="file" name="image2" id="file" class="custom-file-input imagen2" accept=".png" multiple
                                id="image2">
                            <img id="previewImage2" class="image none" src="" alt="Vista previa de la imagen"
                                style="max-width: 40px; max-height: 40px;">
                        </div>

                        <div class="alta__imagen-form block-input">
                            <label for="image3">Imagen 3:</label>
                            <input type="file" name="image3" id="file" class="custom-file-input imagen3" accept=".png" multiple
                                id="image3">
                            <img id="previewImage3" class="image none" src="" alt="Vista previa de la imagen"
                                style="max-width: 40px; max-height: 40px;">
                        </div>
                        <% let categorias=[ {"id":"1","name":"Notebooks"}, {"id":"2","name":"Smartphone"},
                            {"id":"3","name":"Tablets"} ]%>
                            <div class="alta__categ-form block-input">
                                <label for="category">Categoria:</label>
                                <select name="category" id="category">
                                    <% categorias.forEach(category=>{ %>
                                        <option value="<%= category.id %>">
                                            <%= category.name %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                            <div class="alta__categ-form block-input">
                                <label for="tamanio">Tamaño:</label>
                                <input class="tamaño" type="text" id="tamanio" name="Tamanio"><br><br>

                                <label for="memoria">Memoria:</label>
                                <input class="memoria" type="text" id="memoria" name="Memoria"><br><br>

                                <label for="camara">Cámara Principal:</label>
                                <input class="camara" type="text" id="camara" name="CamaraPrincipal"><br><br>

                                <label for="ram">RAM:</label>
                                <input class="ram" type="text" id="ram" name="Ram"><br><br>
                            </div>
                            <div class="alta__categ-form block-input">
                                <label for="marca">Marca:</label>
                                <select name="marca" id="marca">
                                    <option value="Apple" selected>Apple</option>
                                    <option value="Samsung">Samsung</option>
                                    <option value="Xiaomi">Xiaomi</option>
                                </select>
                            </div>

                            <div class="alta__precio-form block-input">
                                <label for="price">Precio:</label>
                                <input class="precio" type="number" id="price" name="price" placeholder="Precio del producto">
                            </div>

                            <div class="alta__precio-form block-input">
                                <label for="discount">Descuento:</label>
                                <input class="descuento" type="number" id="discount" name="discount" placeholder="Descuento">
                            </div>

                            <div class="alta__precio-form block-input">
                                <label for="stock">Stock:</label>
                                <input class="stock" type="number" id="stock" name="stock" placeholder="Stock">
                            </div>

                            <div class="alta__button">
                                <button class="option__button" type="submit">Añadir producto</button>
                                <button class="option__button" type="reset">Descartar producto</button>
                                </button>
                            </div>
                    </form>

                </div>
            </main>
            <%- include ('../partials/footer') %>
    </body>
    <%- include ('../partials/script-menu') %>
        <%- include ('../partials/script-change-img') %>
            <script src="/js/productoCreate.js"></script>


            </html>