<%-include ('../partials/head',{cssFile:'/css/stylesProductCreate.css'})%>

    <body>
        <%-include ('../partials/headerYNav' ) %>

            <main class="main">
                <div class="container">
                    <div class="title-container">
                        <h2 class="title">Crear producto</h2>
                    </div>

                    <form class="edit__form" action="/productos/create"
                        method="POST" enctype="multipart/form-data">

                        <div class="div-imagenes">
                            <% for (let i=0; i < 4; i++) { %>
                                <div class="div-img">
                                    <label for="image<%= i %>"></label>
                                    <img class="imagen" id="previewImage<%= i %>"
                                        alt="Vista previa de la imagen" src="/img/default-image.png">
                                    <label for="imagen<%= i %>" class="camera-icon">
                                        <i class="fas fa-camera"></i>
                                    </label>
                                    <input type="file" name="image<%= i %>" id="imagen<%= i %>"
                                        class="custom-file-input imagen<%= i %>" accept=".png" multiple
                                        style="display: none;">

                                        <input type="hidden" name="oldImage<%= i %>">

                                            <% if(locals.errors && errors['image' + i]) { %>
                                                <div class="text-danger">
                                                    <%= errors['image' + i].msg %>
                                                </div>
                                                <% } %>
                                </div>
                                <% } %>
                        </div>
                        <div class="div-datos">
                            <div class="block-input">
                                <label for="name">Nombre del producto: </label>
                                <input class="nombre" type="text" name="name"
                                    placeholder="Ingresa el nombre del producto" />
                                <small class="nombre-msg text-danger"></small>
                                <% if(locals.errors && errors.name) {%>
                                    <div class="text-danger">
                                        <%= errors.name.msg %>
                                    </div>
                                    <% } %>
                            </div>

                            <div class="block-input">
                                <label for="description">Descripción:</label>
                                <textarea class="input descripcion" name="description"
                                    placeholder="Ingresa la descripción del producto"></textarea>
                                <small class="descripcion-msg text-danger"></small>
                                <% if(locals.errors && errors.description) {%>
                                    <div class="text-danger">
                                        <%= errors.description.msg %>
                                    </div>
                                    <% } %>
                            </div>

                            <div class="block-input">
                                <label for="discount">Descuento:</label>
                                <input name="discount" placeholder="Ingresa descuento del producto"></input>
                                <% if(locals.errors && errors.discount) {%>
                                    <div class="text-danger">
                                        <%= errors.discount.msg %>
                                    </div>
                                    <% } %>
                            </div>

                            <div class="block-input">
                                <label for="stock">Stock:</label>
                                <input name="stock" class="stock" placeholder="Ingresa stock del producto"></input>
                                <small class="stock-msg text-danger"></small>
                                <% if(locals.errors && errors.stock) {%>
                                    <div class="text-danger">
                                        <%= errors.stock.msg %>
                                    </div>
                                    <% } %>
                            </div>

                            <div class="block-input">
                                <label for="price">Precio:</label>
                                <input class="precio" type="number" id="price" name="price"
                                    placeholder="Precio del producto">
                                <small class="precio-msg text-danger"></small>
                                <% if(locals.errors && errors.price) {%>
                                    <div class="text-danger">
                                        <%= errors.price.msg %>
                                    </div>
                                    <% } %>
                            </div>

                            <% let categorias=[ {"id":"1","name":"Notebooks"}, {"id":"2","name":"Smartphones"},
                                {"id":"3","name":"Tablets"} ]%>
                                <div class="block-input">
                                    <label for="category">Categoria:</label>
                                    <select class="input" name="category" id="category">

                                        <% categorias.forEach(category=>{ %>
                                            <option value="<%= category.id %>">
                                                <%= category.name %>
                                            </option>
                                            <% }); %>
                                    </select>
                                    <% if(locals.errors && errors.category) {%>
                                        <div class="text-danger">
                                            <%= errors.category.msg %>
                                        </div>
                                        <% } %>
                                </div>

                                <% let marca=[ {"id":"1","name":"Samsung"}, {"id":"2","name":"Xiaomi"},
                                    {"id":"3","name":"Apple"} ]%>
                                    <div class="block-input">
                                        <label for="marca">Marca:</label>
                                        <select class="input" name="marca" id="marca">

                                            <% marca.forEach(marca=>{ %>
                                                <option value="<%= marca.name %>">
                                                    <%= marca.name %>
                                                </option>
                                                <% }); %>

                                        </select>
                                        <% if(locals.errors && errors.marca) {%>
                                            <div class="text-danger">
                                                <%= errors.marca.msg %>
                                            </div>
                                            <% } %>
                                    </div>

                                    <div class="block-input">
                                        <label for="tamanio">Tamaño:</label>
                                        <input class="tamaño" type="text" id="tamanio" name="Tamanio"><br>
                                    </div>
                                    <div class="block-input">
                                        <label for="memoria">Memoria:</label>
                                        <input class="memoria" type="text" id="memoria" name="Memoria">
                                    </div>
                                    <div class="block-input">
                                        <label for="camara">Cámara Principal:</label>
                                        <input class="camara" type="text" id="camara" name="CamaraPrincipal"><br>
                                    </div>
                                    <div class="block-input">
                                        <label for="ram">RAM:</label>
                                        <input class="ram" type="text" id="ram" name="Ram"><br>
                                    </div>
                        </div>
                        <div class="edit__buttons">
                            <button class="edit__button" type="submit">Crear Producto</button>
                            <div>
                                <a href="/productos/listaMisProductos" class="edit-user__link">Volver al listado</a>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
            <%- include ('../partials/footer') %>
    </body>
    <%- include ('../partials/script-menu') %>
        <script src="/js/productos/create-edit.js"></script>
        <script src="/js/productos/script-change-img.js"></script>
        </html>