<%-include ('../partials/head',{cssFile:'/css/stylesProductoEdit.css'})%>

  <body>
    <%-include ('../partials/headerYNav' ) %>

      <main class="main">
        <div class="container__form">
          <div class="title-container">
            <h2 class="title">Editar producto</h2>
          </div>
          <form class="edit__form" action="/productos/editar/<%=producto.ID_Producto%>?_method=put" method="POST"
            enctype="multipart/form-data">
            <div class="edit__name-form block-input">
              <label for="name">Nombre del producto: </label>
              <input class="login__input-form" type="text" name="name" placeholder="Edita el nombre del producto"
                value="<%=producto.Nombre%>" required />
            </div>

            <div class="edit__descripcion-form block-input">
              <label for="description">Descripción:</label>
              <textarea class="edit_textarea" name="description"
                placeholder="Edita la descripción del producto"><%=producto.Descripcion%></textarea>
            </div>

            <div class="edit__discount-form block-input">
              <label for="discount">Descuento:</label>
              <input name="discount" placeholder="Edita descuento del producto" value=<%=producto.Descuento%>></input>
            </div>
            <% let categorias=[ {"id":"1","name":"Notebooks"}, {"id":"2","name":"Smartphones"},
              {"id":"3","name":"Tablets"} ]%>
              <div class="alta__categ-form block-input">
                <label for="category">Categoria:</label>
                <select name="category" id="category">

                  <% categorias.forEach(category=>{ %>
                    <%if(category.id==producto.Categoria.id){%>
                      <option value="<%=producto.Categoria.id%>" selected>
                        <%=producto.Categoria.nombre%>
                      </option>
                      <%}else{%>
                        <option value="<%= category.id %>">
                          <%= category.name %>
                        </option>
                        <%}%>
                          <% }); %>
                </select>
              </div>

              <% let marca=[ {"id":"1","name":"Samsung"}, {"id":"2","name":"Xiaomi"},
              {"id":"3","name":"Apple"} ]%>
              <div class="alta__categ-form block-input">
                <label for="marca">Marca:</label>
                <select name="marca" id="marca">

                  <% marca.forEach(marca=>{ %>
                    <%if(marca.name==producto.Marca){%>
                      <option value="<%=producto.Marca%>" selected>
                        <%=producto.Marca%>
                      </option>
                      <%}else{%>
                        <option value="<%= marca.name %>">
                          <%= marca.name %>
                        </option>
                        <%}%>
                          <% }); %>
                </select>
              </div>

              <div class="edit__precio-form block-input">
                <label for="price">Precio:</label>
                <input type="number" id="price" name="price" placeholder="Precio del producto"
                  value="<%=producto.Precio%>">
              </div>

              <div class="alta__categ-form block-input">
                <label for="tamanio">Tamaño:</label>
                <input type="text" id="tamanio" name="Tamanio"
                  value="<%= producto.Caracteristica ? producto.Caracteristica.tamaño : '' %>"><br><br>

                <label for="memoria">Memoria:</label>
                <input type="text" id="memoria" name="Memoria"
                  value="<%= producto.Caracteristica ? producto.Caracteristica.memoria : '' %>"><br><br>

                <label for="camara">Cámara Principal:</label>
                <input type="text" id="camara" name="CamaraPrincipal"
                  value="<%= producto.Caracteristica ? producto.Caracteristica.camara : '' %>"><br><br>

                <label for="ram">RAM:</label>
                <input type="text" id="ram" name="Ram"
                  value="<%= producto.Caracteristica ? producto.Caracteristica.ram : '' %>"><br><br>
              </div>


              <div class="alta__imagen-form block-input">
                <label for="image0">Imagen:</label>
                <input type="file" name="image0" id="file" class="custom-file-input" accept=".png" multiple
                  id="imagen0">
                <img id="previewImage0" src="<%= producto.ImagenesProductos[0] ? producto.ImagenesProductos[0].ruta : 'img/default-image.png' %>" alt="Vista previa de la imagen"
                  style="max-width: 40px; max-height: 40px;">
              </div>

              <div class="alta__imagen-form block-input">
                <label for="imagen1">Imagen 1:</label>
                <input type="file" name="image1" id="file" class="custom-file-input" accept=".png" multiple
                  id="imagen1">
                <img id="previewImage1" src="<%= producto.ImagenesProductos[1] ? producto.ImagenesProductos[1].ruta : 'img/default-image.png' %>" alt="Vista previa de la imagen"
                  style="max-width: 40px; max-height: 40px;">
              </div>

              <div class="alta__imagen-form block-input">
                <label for="imagen2">Imagen 2:</label>
                <input type="file" name="image2" id="file" class="custom-file-input" accept=".png" multiple
                  id="imagen2">
                <img id="previewImage2" src="<%= producto.ImagenesProductos[2] ? producto.ImagenesProductos[2].ruta : 'img/default-image.png' %>" alt="Vista previa de la imagen"
                  style="max-width: 40px; max-height: 40px;">
              </div>

              <div class="alta__imagen-form block-input">
                <label for="imagen3">Imagen 3:</label>
                <input type="file" name="image3" id="file" class="custom-file-input" accept=".png" multiple
                  id="imagen3">
                <img id="previewImage3" src="<%= producto.ImagenesProductos[3] ? producto.ImagenesProductos[3].ruta : 'img/default-image.png' %>" alt="Vista previa de la imagen"
                  style="max-width: 40px; max-height: 40px;">
              </div>

              <div class="edit__buttons">
                <button class="option__button" type="submit">Actualizar Producto</button>
                <button class="option__button" type="reset">Descartar formulario</button>
                </button>
              </div>
          </form>
        </div>
      </main>
      <%- include ('../partials/footer') %>
  </body>
  <%- include ('../partials/script-menu') %>
    <%- include ('../partials/script-change-img') %>

      </html>