<%-include ('../partials/head',{cssFile:'/css/styleDetalle.css'})%>

    <body>
        <%-include ('../partials/headerYNav' ) %>
            <main>
                <section class="imagenes-and-detalle">
                    <div class="imagenes-acciones">
                        <div class="imagenes-producto">
                            <div class="imagen-principal">
                                <img src="<%= producto.ImagenesProductos[0] ? producto.ImagenesProductos[0].ruta : '/img/default-image.png' %>" alt="<%=producto.Nombre%>">
                            </div>
                            <div class="imagenes-secundarias">
                                <div class="div-img"><img src="<%= producto.ImagenesProductos[1] ? producto.ImagenesProductos[1].ruta : '/img/default-image.png' %>" alt=""></div>
                                <div class="div-img"><img src="<%= producto.ImagenesProductos[2] ? producto.ImagenesProductos[2].ruta : '/img/default-image.png' %>" alt=""></div>
                                <div class="div-img"><img src="<%= producto.ImagenesProductos[3] ? producto.ImagenesProductos[3].ruta : '/img/default-image.png' %>" alt=""></div>
                            </div>
                        </div>

                    </div>

                    <div class="detalle-producto">
                        <div class="titulo-producto">
                            <p>
                                <%=producto.Nombre%>
                            </p>
                        </div>
                        <div class="descripcion-producto">
                            <div class="descripcion-producto_titulo">
                                <i class="fa-solid fa-bars fa-lg"></i>
                                <p>General</p>
                            </div>
                            <p>
                                <%=producto.Descripcion%>
                            </p>
                        </div>
                        <div class="caracteristicas-producto_table">
                            <div class="caracteristicas-producto_titulo">
                                <i class="fa-regular fa-clipboard"></i>
                                <p>Caracteristicas</p>
                            </div>
                            <table>
                                <tbody>
                                    <% if(producto.Caracteristica){ %>
                                        <tr>
                                            <td><b>Tamaño:</b> <%= producto.Caracteristica.tamaño %></td>
                                        </tr>
                                        <tr>
                                            <td><b>Memoria:</b> <%= producto.Caracteristica.memoria %></td>
                                        </tr>
                                        <tr>
                                            <td><b>Cámara:</b> <%= producto.Caracteristica.camara %></td>
                                        </tr>
                                        <tr>
                                            <td><b>Ram:</b> <%= producto.Caracteristica.ram %></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                            
                        </div>
                        <div class="oferta-precio">
                            <% if(producto.Descuento !=0){ %>
                                <div class="oferta">
                                    <p class="p-off">
                                        <%= producto.Descuento %>%OFF 🎊
                                    </p>
                                </div>
                                <%}%>
                                    <div class="precio-comprar">
                                        <div class="precio">
                                            <% let precioFinal=producto.Precio-(producto.Precio*(producto.Descuento/100))%>
                                                <p>$<%=funcion.getPrecioFormateado(precioFinal)%>
                                                </p>
                                        </div>
                                        <a href="/productos/addCarrito" class="div-btn-comprar">
                                            <button class="btn-comprar">Agregar al Carrito</button>
                                        </a>
                                    </div>
                        </div>
                    </div>
                </section>
                <section class="most-searched__section">
                    <article class="most-searched__article">
                        <h4 class="most-searched__title">Productos Relacionados</h4>
                        <div class="div-responsive">
                            <div class="most-searched__card-container">
                                <%- include
                                    ('../partials/cardArticulosMasBuscados',{productos:productos,funcion:funcion}) %>
                            </div>
                        </div>
                    </article>
                </section>

                </section>

            </main>
            <%- include ('../partials/footer') %>
    </body>
    <%- include ('../partials/script-menu') %>

        </html>